:root {
    /* Typography */
    /* 24px */
    --fs-normal: 1rem;
    --fs-input: 1.5rem;
    --fw-normal: 400;
    --fw-bold: 700;
    /* ### Primary */
    --strongCyan: hsl(172, 67%, 45%);
    /* ### Neutral */
    --veryDarkCyan: hsl(183, 100%, 15%);
    --darkGrayishCyan: hsl(186, 14%, 43%);
    --grayishCyan: hsl(184, 14%, 56%);
    --lightGrayishCyan: hsl(185, 41%, 84%);
    --veryLightGrayishCyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --linkColor: hsl(228, 45%, 44%);
    --orange: hsl(39, 100%, 50%);
    --red: hsl(0, 100%, 50%);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    font-family: 'Space Mono', sans-serif;
    color: var(--darkGrayishCyan);
    background-color: var(--lightGrayishCyan);
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

input,
button {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

input {
    outline: 0;
    font-size: var(--fs-input);
    background-color: inherit;
}

.container {
    /* 320px */
    min-width: 20rem;
    /* 375px */
    max-width: 23.4375rem;
}

.header {
    text-align: center;
    /* 40px */
    margin-block-end: 2.5rem;
}

.tip-container {
    border-radius: 1.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    /* 30px */
    padding: 2rem;
    background-color: var(--white);
}

.icon-input {
    position: relative;
    display: flex;
    align-items: center;
    margin-block-start: 0.5rem;
    /* 2px */
    border: 0.125rem solid transparent;
    border-radius: 0.5rem;
    background-color: var(--veryLightGrayishCyan);

    img {
        margin-inline-start: 1rem;
    }

    input {
        width: 100%;
        border-radius: inherit;
        /* 12px 16px */
        padding: 0.75rem 1rem;
        text-align: right;
        color: var(--veryDarkCyan);
    }
}

.icon-input:focus-within {
    /* 2px */
    border: 0.125rem solid var(--strongCyan);
}

.tip-wrapper {
    /* 40px */
    margin-block: 2.5rem;
}

.button-tip-container {
    display: grid;
    /* 146px */
    grid-template-columns: repeat(2, 9.125rem);
    gap: 1rem;
    width: 100%;
    margin-block-start: 0.5rem;

    .button-custom {
        display: flex;
        align-items: center;
        justify-content: center;
        /* 2px */
        border: 0.125rem solid transparent;
        padding: 1rem;
        color: var(--grayishCyan);
        background-color: var(--veryLightGrayishCyan);

        &:focus-within {
            /* 2px */
            border: 0.125rem solid var(--strongCyan);
        }

        input {
            width: 100%;
            text-align: right;
            color: inherit;
        }
    }
}

.button-tip {
    /* 48px */
    height: 3rem;
    /* 8px */
    border-radius: 0.5rem;
    /* 14px 60px */
    padding: 0.875rem 0;
    color: var(--white);
    background-color: var(--veryDarkCyan);
    transition: all .3s ease;

    &:hover {
        color: var(--veryDarkCyan);
        background-color: var(--lightGrayishCyan);
    }

    &[data-active=true] {
        color: var(--veryDarkCyan);
        background-color: var(--strongCyan);
    }
}

.number-of-people-container {
    label {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .error-message {
        color: var(--orange);
    }

    input {
        text-align: right;
        color: var(--veryDarkCyan);
    }
}

.resume-container {
    /* 30px */
    margin-block-start: 1.875rem;
    border-radius: 1rem;
    /* 24px */
    padding: 1.5rem;
    color: var(--white);
    background-color: var(--veryDarkCyan);

    .total-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            color: var(--grayishCyan);
        }

        .total {
            font-size: 1.5rem;
            color: var(--strongCyan);
        }
    }

    div+div {
        margin-block-start: 1rem;
    }
}

.reset {
    /* 40px */
    margin-block-start: 2.5rem;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
    color: var(--veryDarkCyan);
    background-color: var(--strongCyan);
    transition: background-color .3s ease;

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }
}

.reset:hover:not(:disabled) {
    background-color: var(--lightGrayishCyan);
}

.hidden {
    display: none;
}

.error {
    border-color: var(--red) !important;
}

.border-color-orange {
    border-color: var(--orange) !important;
}

.attribution {
    /* 11px */
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    font-size: 0.875rem;
    color: var(--veryDarkCyan);
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: inherit;
}